/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --bs-border-width:0px; }

/*FIN RESET*/
/*NAV*/
.navbar {
  --bs-navbar-brand-margin-end: 35rem; }

.navbar-brand {
  font-size: 30px;
  color: #C5EDFF; }

.nav-link {
  color: #C5EDFF;
  font-size: 20px; }

/*FIN NAV*/
/*VIDEO INDEX*/
.video {
  width: 100%; }
  .video__main {
    position: fixed;
    top: 4.7    rem;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover; }

/*FIN VIDEO INDEX*/
/*COLOR BACK*/
.body__general {
  background-color: #dee2e6; }

/*FIN COLOR BACK*/
/*NOVEDADES*/
.body__general {
  background-color: #dee2e6; }

.contenedor_descargas {
  padding-left: 30rem;
  padding-top: 3rem;
  padding-right: 40rem;
  text-decoration: none;
  background-color: #dee2e6; }

.accordion-item {
  background-color: #dee2e6; }

.accordion-button {
  background-color: #dee2e6; }

.body__general {
  background-color: #dee2e6; }

/*FIN NOVEDADES*/
/*SERVICIOS*/
.body__general {
  background-color: #dee2e6; }

#main__contenedor {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 150px);
  grid-template-rows: 150px;
  grid-template-areas: "main__contenedor__auditorias main__contenedor__monotributo main__contenedor__impuestos main__contenedor__pymes main__contenedor__domestico" gap 20px;
  justify-content: center; }

.texto {
  display: none;
  padding-right: 31rem;
  padding-left: 31rem; }

.visible {
  display: block; }

.main__contenedor__auditorias {
  grid-area: main__contenedor__auditorias; }

.main__contenedor__monotributo {
  grid-area: main__contenedor__monotributo; }

.main__contenedor__impuestos {
  grid-area: main__contenedor__impuestos; }

.main__contenedor__pymes {
  grid-area: main__contenedor__pymes; }

.main__contenedor__domestico {
  grid-area: main__contenedor__domestico; }

#texto1 {
  font-size: 15px; }

#texto2 {
  font-size: 15px; }

#texto3 {
  font-size: 15px; }

#texto4 {
  font-size: 15px; }

#texto5 {
  font-size: 15px; }

.size-img_servicios {
  height: 100px;
  width: 100px; }

.size-img_servicios:hover {
  filter: drop-shadow(0px 0px 10px #2655e3); }
