/*EL ESTUDIO*/


.section__div{
    padding: 2rem;
    display: flex;
    &__parrafo{
    font-size: 20px;
    padding-left: 25rem;
    padding-right: 25rem;
    padding-top: 3rem;
     }

}


/*EL ESTUDIO*/