/*NOVEDADES*/


.body__general{
    background-color: $fondo_general;
   
}

.contenedor_descargas{
    padding-left: 30rem;
    padding-top: 3rem;
    padding-right: 40rem;
    text-decoration: none;
    background-color: $fondo_general;
}

.accordion-item{
    background-color: $fondo_general;

}

.accordion-button{
    background-color: $fondo_general;

}



/*FIN NOVEDADES*/