/*VIDEO INDEX*/

.video{
    width: 100%;
    &__main{
    position: fixed;
    top: 4.7    rem;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;



    }


}
/*FIN VIDEO INDEX*/